<template>
    <v-app style="background: #fafafa !important">
        <v-main>
            <v-container fluid fill-height>
                <v-row align="center">
                    <v-col cols="12">
                        <v-img class="rounded-circle mx-auto" src="/img/logo.jpg" width="100px">
                        </v-img>
                    </v-col>
                    <v-col cols="12">
                        <router-view></router-view>
                    </v-col>
                </v-row>
            </v-container>
        </v-main>
    </v-app>
</template>
<script>
    import {
        mapActions,
        mapGetters
    } from 'vuex'
    export default {
        created() {
            if (this.isAuth) {
                this.$router.push({
                    name: 'home'
                });
            }
        },

        computed: {
            ...mapGetters(['isAuth'])
        },

        methods: {
            ...mapActions('auth', ['getAuthenticatedUser']),
        },
        
        async destroyed() {
            if (this.isAuth) {
                await this.getAuthenticatedUser()
            }
        },
    }
</script>