<template>
    <div>
        <v-app style="background: #fafafa !important">
            <!-- Must have the app property -->
            <v-app-bar app :elevation="0" color="transparent">
                <v-app-bar-nav-icon @click.stop="sidebarMenu = !sidebarMenu"></v-app-bar-nav-icon>
                <v-toolbar-title>Dashboard</v-toolbar-title>
                <v-spacer></v-spacer>

                <!-- Translation Language -->
                <v-menu bottom offset-y>
                    <template v-slot:activator="{ on: menu, attrs }">
                        <v-tooltip bottom>
                            <template v-slot:activator="{ on: tooltip }">
                                <v-btn icon v-bind="attrs" v-on="{ ...tooltip, ...menu }">
                                    <v-icon>mdi-translate</v-icon>
                                </v-btn>
                            </template>
                            <span>Translation</span>
                        </v-tooltip>
                    </template>
                    <v-list dense>
                        <v-list-item-group v-model="$i18n.locale">
                        <v-list-item v-for="(item, index) in langItems" :key="index" @click="setLocale(item.lang)" :value="item.lang">
                            <v-list-item-icon class="py-2">
                                <country-flag :country='item.icon' size='small' rounded/>
                            </v-list-item-icon>
                            <v-list-item-title>{{ item.title }}</v-list-item-title>
                        </v-list-item>
                        </v-list-item-group>
                    </v-list>
                </v-menu>
                <v-btn icon>
                    <v-icon>mdi-bell-ring</v-icon>
                </v-btn>
                <v-menu open-on-hover bottom offset-y :nudge-width="200">
                    <template v-slot:activator="{ on, attrs }">
                        <!-- <v-btn color="primary" dark v-bind="attrs" v-on="on">
                            Dropdown
                        </v-btn> -->
                        <v-avatar class="ml-3" size="36px" v-bind="attrs" v-on="on">
                            <img :src="authenticated.avatar ? authenticated.avatar : 'https://cdn.vuetifyjs.com/images/john.jpg'"
                                        :alt="'Halo, ' + authenticated.firstname">
                        </v-avatar>
                    </template>

                    <v-card>
                        <v-list dense>
                            <v-list-item>
                                <v-list-item-avatar>
                                    <img
                                        :src="authenticated.avatar ? authenticated.avatar : 'https://cdn.vuetifyjs.com/images/john.jpg'"
                                        :alt="authenticated.firstname + ' ' + (authenticated.lastname || '')"
                                    >
                                </v-list-item-avatar>

                                <v-list-item-content>
                                    <v-list-item-title>{{ authenticated.firstname + ' ' + (authenticated.lastname || '') }}</v-list-item-title>
                                    <v-list-item-subtitle>
                                        <v-chip
                                            color="green"
                                            outlined
                                            small
                                        >
                                        {{ ACCESS.ROLES[0] }}
                                        </v-chip>
                                    </v-list-item-subtitle>
                                </v-list-item-content>

                                <v-list-item-action>
                                    <v-btn
                                        class="green--text"
                                        icon
                                    >
                                        <v-icon>mdi-cog-outline</v-icon>
                                    </v-btn>
                                </v-list-item-action>
                            </v-list-item>
                        </v-list>
                        <v-divider></v-divider>

                        <v-card-actions>
                            <v-btn
                                color="danger"
                                text
                            >
                                 <v-icon
                                    left
                                    dark
                                >
                                    mdi-account-circle
                                </v-icon>
                                {{ $t('Go To Profile') }}
                            </v-btn>
                        <v-spacer></v-spacer>

                            <v-btn
                                color="red"
                                text
                            >
                                <v-icon
                                    left
                                    dark
                                >
                                    mdi-logout
                                </v-icon>
                                Logout
                            </v-btn>
                        </v-card-actions>
                    </v-card>

                </v-menu>
            </v-app-bar>

            <v-navigation-drawer app dark floating class="elevation-4" :permanent="sidebarMenu" :mini-variant="mini" v-model="sidebarMenu" :width="210" color="info">
                <v-toolbar color="info" elevation="0">
                    <div>
                        <v-img class="mr-3 rounded-circle" src="/img/logo.jpg" width="30px">
                        </v-img>
                    </div>
                    <v-toolbar-title>LabdaCaraka</v-toolbar-title>
                </v-toolbar>

                <!-- <v-divider></v-divider> -->

                <v-list dense rounded>
                    <v-list-item class="px-2" v-for="item in items" :key="item.title" link>
                        <v-list-item-icon>
                            <v-icon>{{ item.icon }}</v-icon>
                        </v-list-item-icon>

                        <v-list-item-content>
                            <v-list-item-title class="text-uppercase">{{ item.title }}</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list>
            </v-navigation-drawer>
            <v-main>
                <v-container fluid fill-height>
                    <v-row class="fill-height">
                        <v-col>
                            <transition name="fade">
                                <router-view></router-view>
                            </transition>
                        </v-col>
                    </v-row>
                </v-container>
            </v-main>
        </v-app>
    </div>
</template>

<script>
import { mapState } from 'vuex'
    export default {
        data() {
            return {
                fav: true,
                sidebarMenu: true,
                toggleMini: false,
                items: [
                    {
                        title: 'Dashboard',
                        icon: 'mdi-view-dashboard-outline'
                    },
                    {
                        title: 'Users',
                        icon: 'mdi-account-group-outline'
                    },
                    {
                        title: 'Setting',
                        icon: 'mdi-cog-outline'
                    },
                ],
                right: null,
                profileMenus: [
                    {
                        title: 'Profile',
                        icon: 'mdi-account'
                    },
                    {
                        title: 'Logout',
                        icon: 'mdi-logout'
                    },

                ],
                langItems: [
                    {
                        title: 'Indonesia',
                        icon: 'id',
                        lang: 'id'
                    },
                    {
                        title: 'English',
                        icon: 'us',
                        lang: 'en'
                    },

                ],
            }
        },
        computed: {
            ...mapState('auth', ['authenticated']),
            mini() {
                return (this.$vuetify.breakpoint.smAndDown) || this.toggleMini
            },
        },
        methods: {
            setLocale(lang) {
                localStorage.setItem('locale_lang', lang)
            }
        },
    };
</script>
<style scoped>
.v-application--is-ltr .v-list-item__icon:first-child {
    margin-right: 20px !important;
}
</style>