<template>
    <v-card class="mx-auto rounded-xl py-3" max-width="344" elevation="1" :loading="loading">
        <v-card-title>
            <h4 class="text-uppercase mx-auto">{{ $t('forgot_password') }}</h4> 
        </v-card-title>
        <v-card-text>
            <v-form ref="form" v-model="valid" lazy-validation>
                <v-text-field 
                    outlined 
                    dense 
                    rounded 
                    v-model="form.email" 
                    :error-messages="form_errors.email"
                    label="Email"
                    type="email"
                >
                </v-text-field>

                <v-btn :disabled="!valid || loading" color="info" @click="sendReset" block rounded>
                    {{ $t('button.send_reset_link') }}
                </v-btn>
                <router-link class="text-decoration-none grey--text mt-3 d-block" to="/">{{ $t('button.have_account') }}</router-link>

            </v-form>
        </v-card-text>
    </v-card>
</template>
<script>
    export default {
        data: () => ({
            valid: true,
            loading: false,
            form: {
              email: ''
            },
            form_errors: {
              email: []
            }
        }),

        methods: {
            async sendReset() {
              this.loading = true
                try {
                    // Set form request data
                    let formData = new FormData()
                    let formKey = Object.keys(this.form)
                    formKey.forEach(key => {
                      formData.append(key, this.form[key])
                    });

                    const forgotRequest = await this.$api.post('/auth/forgot-password', formData)
                    this.$successMessage = forgotRequest.data.message

                } catch (error) {
                    this.$errorMessage = error.data.message
                    if (error.status == 422) {
                        this.form_errors.email = error.data.errors.email !== undefined ? error
                            .data.errors.email : []
                    }
                }
                this.loading = false
            },
        },

        watch: {
            'form.email'() {
                this.form_errors.email = []
            }

        },

    }
</script>