<template>
    <v-card class="mx-auto rounded-xl py-3" max-width="344" elevation="1" :loading="loading">
        <v-card-title>
            <h4 class="text-uppercase mx-auto">{{ $t('signin') }}</h4> 
        </v-card-title>
        <v-card-text>
            <v-form ref="form" v-model="valid" lazy-validation>
                <v-text-field outlined dense rounded v-model="form.identity" :error-messages="form_errors.identity"
                    label="Username/Email/Phone Number" ></v-text-field>

                <v-text-field 
                    outlined 
                    dense 
                    rounded 
                    :type="show_password ? 'text' : 'password'"
                    :error-messages="form_errors.password"
                    :append-icon="show_password ? 'mdi-eye' : 'mdi-eye-off'"
                    v-model="form.password" 
                    label="Password"
                    class="mb-0"
                    @click:append="show_password = !show_password"
                >
                </v-text-field>
                <v-btn :disabled="!valid || loading" color="success" @click="login" block rounded>
                    {{ $t('button.login') }}
                </v-btn>
                <v-btn class="mt-1" color="info" to="/auth/signup" block rounded>
                  <v-icon
                    left
                    dark
                  >
                    mdi-account
                  </v-icon>
                  {{ $t('button.register') }}
                </v-btn>
                <router-link class="text-decoration-none grey--text mt-3 d-block" :to="{ name: 'auth.forgot' }">{{ $t('form.forgot_password') }}</router-link>

            </v-form>
        </v-card-text>
    </v-card>
</template>
<script>
    import {
        mapActions,
        mapGetters
    } from 'vuex'
    export default {
        data: () => ({
            valid: true,
            show_password: false,
            loading: false,
            form: {
              identity: '',
              password: '',
              remember_me: false,
            },
            form_errors: {
              identity: [],
              password: []
            }
        }),

        computed: {
            ...mapGetters(['isAuth'])
        },

        methods: {
            ...mapActions('auth', ['getAuthenticatedUser']),
            async login() {
              this.loading = true
                try {
                    // Set form request data
                    let formData = new FormData()
                    let formKey = Object.keys(this.form)
                    formKey.forEach(key => {
                      formData.append(key, this.form[key])
                    });

                    const loginRequest = await this.$api.post('/auth/login', formData)

                    localStorage.setItem('token', loginRequest.data.data.access_token)
                    window.dispatchEvent(new CustomEvent('localstorage_token_changed', {
                        detail: {
                            modifiedToken: loginRequest.data.data.access_token
                        }
                    }));

                    this.$successMessage = loginRequest.data.message

                } catch (error) {
                    this.$errorMessage = error.data.message
                    if (error.status == 422) {
                        this.form_errors.identity = error.data.errors.identity !== undefined ? error
                            .data.errors.identity : []
                        this.form_errors.password = error.data.errors.password !== undefined ? error
                            .data.errors.password : []
                    }
                }
                this.loading = false
            },
        },

        watch: {
            isAuth(val) {
                if (val) {
                    this.$router.push({
                        name: 'home'
                    })
                }
            },
            'form.identity'() {
                this.form_errors.identity = []
            },
            'form.password'() {
                this.form_errors.password = []
            },

        },

    }
</script>